{% render 'partials/head.liquid' %}


      <main>  
        <article>
          <img src="/DUCK.svg" alt="duck">
          <H1>{{ person.bio }}</H1>
          <button>start</button>
        </article>
      </main>
{% render 'partials/foot.liquid' %}


{% comment %} {{ person.name }} {% endcomment %}