@font-face {

    /* PRIMARY FONTS STAND OUT */
    font-family: "Jaro";
    src: url(/public/Jaro/Jaro-Regular-VariableFont_opsz.ttf) format(TrueType);

    /* SECUNDAIRE FONTS STAND OUT */
    font-family: "Faster One";
    src: url(/Faster_One/) format(TrueType);

    /* FONTS TEXT  */
    font-family: "Gemunu Libre";
    src: url(/Gemunu_Libre/) format(TrueType);
}

body{
    /* COLOR */
    --first-background-color: black;
    --first-text-color: white;
    --second-text-color: black;
    --third-text-color: #D3BA85;
    --fourth-text-color: #A9DBFB;
    --fifth-text-color: #C6937C;
    --first-highlight-color: rgb(255, 255, 255);
    --second-highlight-color: #FFB700;

    /* FONTS */
    --primary-fonts: "Jaro";
    --secundaire-fonts: "Faster One";
    --text-fonts: "Gemunu Libre";

    --heading-size-l: 2rem;
    --heading-size-m: 1.8rem;
    --heading-size-s: 1rem;

    --text-size-l: 1.4rem;
    --text-size-m: 1.2rem;
    --text-size-s: 1rem;
    
    /* BUTTON */
    --button-size: 12px 22px 12px 22px;
    --button-rounded: 2rem;
}


/* CARD */
.flip-card{
    background-color: transparent;
    margin: auto;
    width: 18rem;
    height: 30rem;

    /* display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 10%;
    background-color: var(--first-background-color);
    background-image: url("/public/blocks.svg"); */

    perspective: 1000px; /* gives a 3D effect*/
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: var(--first-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
}

/* FRONT */
.flip-card-back {
    background-color: var(--first-background-color);
    transform: rotateY(180deg);
    position: relative;
    margin-left: 6rem;
}

h1{
    color: var(--first-text-color);
    font-family: var(--primary-fonts);
    
}

button{
    padding: var(--button-size);
    border-radius: var(--button-rounded);
    background-color: var(--second-highlight-color);
    border: none;
}

/* BACK */
.flip-card-inner-back {
    position: absolute;
    margin-left: 2rem;
    top: 20%;
}


h2{
    color: var(--first-text-color);
}

.custom {
    color: var(--first-text-color);
}

h3{
    color: var(--third-text-color);
}

h3::after{
    content: "{";
    color: var(--second-highlight-color);
    margin-left: 0.5rem;
}

dl{
    display: grid;
    grid-template-columns: 6rem 10rem;
    grid-template-rows: 1.5rem 1.5rem;
    font-size: var(--text-size-s);
}

/* dl{
    display: flex;
    flex-wrap: wrap;
    max-width: 12rem;
    font-size: var(--text-size-s);
} */

dt{
    color: var(--fourth-text-color);
}

dt::after{
    content: ":";
    color: var(--first-text-color);
}

dd{
    margin-left: 8px;
    color: var(--fifth-text-color);
}

dd::after{
    content: ";";
    color: var(--first-text-color);
}

