@font-face {

    /* PRIMARY FONTS STAND OUT */
    font-family: "Jaro";
    src: url(/Jaro/) format(TrueType);

    /* SECUNDAIRE FONTS STAND OUT */
    font-family: "Faster One";
    src: url(/public/Faster_One/) format(TrueType);

    /* FONTS TEXT  */
    font-family: "Gemunu Libre";
    src: url(/Gemunu_Libre/) format(TrueType);
}

body{
    /* COLOR */
    --first-background-color: black;
    --first-text-color: white;
    --second-text-color: black;
    --third-text-color: #D3BA85;
    --fourth-text-color: #A9DBFB;
    --fifth-text-color: #C6937C;
    --first-highlight-color: rgb(255, 255, 255);
    --second-highlight-color: #FFB700;

    /* FONTS */
    --primary-fonts: "Jaro";
    --secundaire-fonts: "Faster One";
    --text-fonts: "Gemunu Libre";

    --heading-size-l: 2rem;
    --heading-size-m: 1.8rem;
    --heading-size-s: 1rem;

    --text-size-l: 1.4rem;
    --text-size-m: 1.2rem;
    --text-size-s: 1rem;
    
    /* BUTTON */
    --button-size: 12px 22px 12px 22px;
    --button-rounded: 2rem;
}


/* CARD */
main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 10%;
    margin: auto;
    width: 18rem;
    height: 30rem;
    background-color: var(--first-background-color);
    border-radius: 1rem;
}

h1{
    color: var(--first-text-color)
}

button{
    padding: var(--button-size);
    border-radius: var(--button-rounded);
    background-color: var(--second-highlight-color);
    border: none;
}


/* FRONT CARD */
.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 30%;
}

/* BACK CARD */
.back{
    display: none;
}